@font-face {
    font-family: "Hero";
    src: url("https://use.typekit.net/xjk0gtd.css") format("truetype");
    font-weight: normal;
}  
  
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
  
body {
    background: var(--color-bg);
}  
  
:root {
    --font-family: 'Manrope', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #EBEBEB;
    --header-color-bg: #333333;
    --text-white : #FFFFFF;
    --primary-green: #34EB46;
    --secondary-green: #57EC46;
    --primary-grey: #00000029;
    --third-grey: #999999;
    --fourth-grey: #D8D8D8;
    --fifth-grey: #606060;
    --secondary-grey: #707070;
    --primary-black: #000000;
}
  
a{
    color: unset;
    text-decoration: none;
}

.wrapper{
    margin-left: 143px;
    margin-right: 140px;
    padding: 109px 0px;
} 


body {
    background: var(--color-bg);
}  


.section__padding {
    padding: 4rem 6rem;
  }
  
.section__margin {
    margin: 4rem 6rem;
  }


.options_articles_videos_image_container{
    object-fit: cover;
  }
  
.extra_size--media{
    width: 847px;
    height: 389px;
  }
  
.large_size--media{
    width: 572px;
    /* width: 100%; */
    height: 323px;
  }
  
.medium_size--media{
    width: 100%;
    height: 243px;
  }
  
.small_size--media{
    width: 315px;
    height: 177px;
  }

.responsive_media_container_options{
    /* object-fit: cover; */
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
.responsive_media_container_options::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  
.responsive_media_container_options iframe,
.responsive_media_container_options img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  

.button--green{
  color: var(--primary-black);
  width: 148px;
  height: 50px;
  font-size: 14px;
  font-family: "hero-new";
  font-weight: bold;
  background: var(--primary-green);
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: all 0.6s ease-in-out;
  text-transform: uppercase;
}

.button--green:hover, .button--white:hover{
  background: var(--secondary-green);
    /* transform: scale(1.1);
    transform-origin: bottom center; */
}

.button--white{
  background-color: var(--color-bg);
  color: var(--primary-black);
}