/* Header component */

#Header{
  background: var(--header-color-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: wrap;
  align-items: left;
}

.header_description{
  margin-left: 80px;
  justify-content: center;
  text-align: left;
  max-width: 376px;
}

.header_description h1 {
  font-family: "hero-new";
  font-weight: 200;
  font-size: 43px;
  color: var(--text-white );
  letter-spacing: 0px;
}

.header_description h1 span {
  padding-top: 19px;
  display: block;
  color: var(--primary-green);
  font-size: 33px;
}

#Trading-Options_Media{
  background-color: var(--color-bg);
}

.options_articles_videos_grid{
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.options_articles_videos_image{
  width: 100%;
  height: 100%;
  background-size: contain;
}

#Articles-And-Videos{
  background-color: var(--text-white);
}

.articles_videos_grid_column{
  display: flex;
  flex-direction: column;
}

.articles_videos_grid_column h3{
  font-size: 18px;
  font-family: "hero-new";
  font-weight: 600;
  color: var(--header-color );
  margin-bottom: 14px;
  padding: 1px 0px;
}
  
.articles_videos_grid_column p{
  font-size: 14px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 300;
}

.articles_videos_grid_column span{
  font-size: 10px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 400;
  display: block;
  padding-top: 21px;
  }

.articles_videos_grid_column h3 a:hover{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--secondary-green);
}

.articles_and_videos{
  display: flex;
  flex-direction: column;
}

.articles_and_videos_header_container{
  flex-direction: row;
}

.articles_and_videos_container_header{
  display: flex;
  justify-content: flex-start;
}

.articles_and_videos_container_header h2,
.articles_and_videos_container_header h3 {
  font-size: 44px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 600;
  margin-bottom: 31px;
  letter-spacing: 0px;
}

.wrapper, .wrapper_header{
  margin-left: 143px;
  margin-right: 140px;
  padding: 109px 0px;
}


#Contact-What-Expect{
  background-color:#34EB46;
}

.contact_dropdown_container{
  margin-right: 140px;
  margin-left: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:  flex;
  flex-direction: column;
}

.contact_dropdown_column{
  display: flex;
  justify-content: space-between;
}

.contact_dropdown_column_description{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 700px;
}

.contact_dropdown_column_description_form{
  padding-right: 10px;
}

.contact_dropdown_column_description_form form{
  display: flex;
  justify-content: space-between;
}

.contact_dropdown_column_description_form form input{
  color: var(--primary-black);
  width: 474px;
  height: 47px;
  font-size: 18px;
  font-family: "hero-new";
  padding-left: 17px;
  background: var(--color-bg) !important;
  outline: none;
  cursor: pointer;
  border: 0;
}

.contact_dropdown_column_form{
  display: flex;
  justify-content: space-around;
  max-height: 700px;
  min-height: 303px;
  padding-top: 34px;
  padding-bottom: 23px;
  flex-wrap: wrap;
  transition: max-height 0.8s ease-in-out;
  margin-right: 140px;
  margin-left: 140px;
}

.contact_dropdown_column_dropdown.active{
  max-height: 680px;
}

.contact_dropdown_container img{
  cursor: pointer;
}

.contact_dropdown_column_description h3{
  font-size: 29px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 500;
  margin-bottom: 31px;
  letter-spacing: 0px;
}

.contact_dropdown_column_description p{
  margin-top: 58px;
  color: var(--header-color-bg);
  font-family: "hero-new";
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 10px;
  letter-spacing: 0px;
  padding-right: 125px;
}

/* Footer */
.footer_content {
  text-align: left;
  align-content: center;
}

.footer_content ul{
  display: flex;
  list-style: none;
}

.footer_content ul:first-child{
  padding-bottom: 70px;
  border-bottom: 1px solid grey;
 }

.footer_content ul:nth-child(2){
  padding-top: 18px;
 }

.footer_content ul li{
  display: flex;
  list-style: none;
  padding-right: 17px;
}

.footer_content ul li a{
  font-family: "hero-new";
  font-weight: 400;
  font-size: 12px;
  color: var(--header-color-bg);
  transition: background 0.4s ease-out;
}

.footer_content p{
  font-size: 10px;
  font-family: "hero-new";
  font-weight: 200;
  letter-spacing: 0px;
  padding-top: 19px;
}

.footer_social--icon{
  font-size:20px;
  padding-right: 10px;
}

.footer_social--icon:hover{
  color: var(--secondary-green)
}

/* Menu code */
#Menu{
  background-color: var(--text-white);
  z-index: 1000;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
}

.menu_logo_container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.menu_logo_container span{
  /* display: flex; */
  font-family: "hero-new";
  font-weight: 400;
  text-align: left;
  color: var(--header-color-bg);
  text-align: left;
  letter-spacing: -0.25px;
  font-size: 25px;
}

.logo {
  cursor: pointer;
  /* padding: 0 1rem; */
  border-radius: 50%;
}

/* padding: calc(55%*9/16) */
.toggle {
  cursor: pointer;
  padding-right: 8px;
  position: relative;
}
nav {
  flex: 1 1 100%;

}

nav ul {
  list-style: none;
  
}
#mobile-icon,
[id^="submenu"] {
  display: none;
}

nav ul li a {
  font-family: "hero-new";
  font-weight: 400;
  font-size: 12px;
  color: var(--header-color-bg);
  letter-spacing: 1.2px;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 1rem;
  transition: background 0.4s ease-out;
  background-color: var(--text-white);
  text-transform: uppercase;
  /* z-index: 1000; */
}

.nav-items li label {
  font-family: "hero-new";
  font-weight: 400;
  z-index: 1000;
}

nav label{
  font-family: "hero-new";
  font-weight: 400;
  font-size: 12px;
  color: var(--header-color-bg);
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: var(--text-white);
  padding: 0 1rem;
  letter-spacing: 1.2px;
  height: 64px;
  transition: background 0.4s ease-out;
  text-transform: uppercase;
}
/* nav ul li a:hover{
  text-decoration: underline;
} */
.arrow {
  margin-top: 0px;
  /* font-size: 10px; */
  color: green;
  /* position: absolute; */
}

.logo2{
  cursor: pointer;
  border-radius: 50%;
}

.nav-items li a:hover{
  text-decoration: underline;
}

.submenu-1 li a{
  background: var(--fourth-grey);
  left: 0;
}

.submenu-1 li a:hover{
  text-decoration: underline;
}



/* Responsive Code */
@media (max-width:1370px) { 
.large_size--media{
  width: 400px;
}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:1044px) { 

.responsive_media_container_options{
  width: 315px;
  height: 177px;
  margin-bottom: 24px;
}

.articles_videos_grid_column,  .responsive_media_container_options{
  padding:0px;
}

.header {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.wrapper{
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 80px;
  padding-bottom: 99px;
}

.wrapper_header{
  margin-left: 45px;
  margin-right: 44px;
  padding-top: 95px;
  padding-bottom: 52px;
}

.articles_and_videos{
  padding-top: 66px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.header_description{
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.header_description h1{
  font-size: 28px;
}

.header_description h1 span {
  font-size: 20px;
}

.contact_dropdown_column_form {
  margin-left: 21px;
  margin-right: 21px; 
  padding-top: 0px;
  padding-bottom: 11px;
}

.contact_dropdown_column_form {
  justify-content: center;
}

.contact_dropdown_column_description_form{
  padding-right: 0px;
  margin-top: 30px;
}

.contact_dropdown_column_description p{
  padding-right: 0;
}


.contact_dropdown_column_description{
  text-align: center;
}

.contact_dropdown_column_description_form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact_dropdown_column_description_form form button{
  color: var(--primary-black);
  width: 122px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  border-radius: 25px;
  margin-top: 20px;
}
  
.contact_dropdown_column_description_form form input{
  color: var(--primary-black);
  width: 294px;
  height: 47px;
  font-size: 14px;
}

header {
  justify-content: space-between;
}

nav ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#mobile-icon:checked ~ nav > ul {
  max-height: 100vh;
}

[id^="submenu"]:checked ~ [class^="submenu"] {
  max-height: 100vh;
  overflow: visible;
}

.hamburger-icon {
  width: 18px;
  height: 3px;
  background-color: black;
  display: block;
  position: relative;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  transition: all 0.2s;
}

.hamburger-icon:before {
  top: 5px;
}

.hamburger-icon:after {
  top: -5px;
}

#mobile-icon:checked ~ .toggle {
  border-radius: 50em;
  transition: all 0.2s ease-out;
}

/* mobile nav change hamburger to x on click */
#mobile-icon:checked ~ .toggle .hamburger-icon {
  background-color: transparent;
}

#mobile-icon:checked ~ .toggle .hamburger-icon:before {
  top: 0;
  transform: rotate(45deg);
}

#mobile-icon:checked ~ .toggle .hamburger-icon:after {
  top: 0;
  transform: rotate(-45deg);
}

.hide-mobile {
  display: none;
}

}

/*-------desktop nav --------*/
@media (min-width: 1045px) {

  nav, .logo {
    flex: none;
  }
  
  .toggle, nav label {
    display: none;
  }
  nav ul {
    display: flex;
  }
  
  nav li {
    position: relative;
  }
  
  nav ul ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
    li:hover > ul {
      max-height: 100vh;
      overflow: visible;
    }
  
    [class^="submenu"] {
      flex-direction: column;
      position: absolute;
    }
  }

@media (max-width:801px)  {
.large_size--media{
  width: 370px;
  padding: 0px 0px;
}
 
.articles_and_videos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options_articles_videos_grid{
  grid-gap: 0rem;
}

.articles_videos_grid_column:first-child{
  margin-bottom: 49px;
}

.articles_and_videos_container_header{
  justify-content: center;
  margin-bottom: 51px;
}

.articles_and_videos_container_header h2,
.articles_and_videos_container_header h3 {
  font-size: 28px;
  margin-bottom: 0px;
  text-align: center;
}

.articles_and_videos .header{ 
  padding-left: 21px;
  padding-right: 21px; 
}

.footer_content:first-child ul li{
  display: flex;
  list-style: none;
  padding-bottom: 15px;
}
.footer_content ul:first-child{
  flex-direction: column;
  padding-bottom: 60px;
}

.footer_content ul:nth-child(2){
  flex-direction: row;
}
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px)  {
.large_size--media{
  width: 315px;
  height: 176px;
  padding: 0px 0px;
}
}
