@font-face {
    font-family: "Hero";
    src: url("https://use.typekit.net/xjk0gtd.css") format("truetype");
    font-weight: normal;
}  
  
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
  
body {
    background: var(--color-bg);
}  
  
:root {
    --font-family: 'Manrope', sans-serif;
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    --color-bg: #EBEBEB;
    --header-color-bg: #333333;
    --text-white : #FFFFFF;
    --primary-green: #34EB46;
    --secondary-green: #57EC46;
    --primary-grey: #00000029;
    --third-grey: #999999;
    --fourth-grey: #D8D8D8;
    --fifth-grey: #606060;
    --secondary-grey: #707070;
    --primary-black: #000000;
}
  
  a{
    color: unset;
    text-decoration: none;
  }