/* Header component */

#Header{
  background: var(--header-color-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: wrap;
  align-items: left;
  padding-left: 143px;
  padding-right: 140px;
  padding-top: 101px;
  padding-bottom: 101px;
}

.header_description{
  flex: 20% 80%;
  margin-left: 80px;
  font-family: "hero-new";
  justify-content: center;
  text-align: left;
  font-style: normal;
}

.header_description h1 {
  font-size: 44px;
  color: var(--text-white );
  padding-bottom: 20px;
  letter-spacing: 0px;
}

.header_description p {
  color: var(--primary-green);
  font-size: 34px;
}

#Trading-Options_Media{
  background-color: var(--color-bg);
}

.options_articles_videos_grid{
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.options_articles_videos_image{
  width: 100%;
  height: 100%;
  background-size: contain;
}

#Articles-And-Videos{
  background-color: var(--text-white);
}

.articles_videos_grid_column h3{
  font-size: 18px;
  font-family: "hero-new";
  font-weight: 600;
  color: var(--header-color );
  margin-bottom: 14px;
  padding: 1px 0px;
}
  
.articles_videos_grid_column p{
  font-size: 14px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 300;
}

.articles_videos_grid_column span{
  font-size: 10px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 400;
  display: block;
  padding-top: 21px;
  }

.articles_videos_grid_column h3 a:hover{
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--secondary-green);
}

.articles_and_videos{
  padding-left: 143px;
  padding-right: 140px;
  padding-top: 101px;
  padding-bottom: 101px;
  display: flex;
  flex-direction: column;
}

.articles_and_videos_header_container{
  flex-direction: row;
}

.articles_and_videos_container_header{
  display: flex;
  justify-content: flex-start;
}

.articles_and_videos_container_header h2 {
  font-size: 44px;
  color: var(--header-color );
  font-family: "hero-new";
  font-weight: 500;
  margin-bottom: 31px;
  letter-spacing: 0px;
}

/* Page config */

.options_articles_videos_image_container{
  object-fit: cover;
}

.extra_size--media{
  width: 847px;
  height: 389px;
}

.large_size--media{
  width: 572px;
  height: 323px;
}

.medium_size--media{
  width: 375px;
  height: 243px;
}

.small_size--media{
  width: 315px;
  height: 177px;
}

.articles_videos_grid_column{
  display: flex;
  flex-direction: column;
}

/* Responsive Code */
@media (max-width:1370px) { 
  .large_size--media{
    width: 400px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:1025px) { 
  .options_articles_videos_image_container{
    width: 100%;
    height: 350px;
  }

  .articles_videos_grid_column,  .options_articles_videos_image_container{
    padding:0px;
  }

  .header {
    justify-content: center;
    flex-direction: column;
    flex: wrap;
    align-items: center;
    text-align: center;
  }

  .articles_and_videos, .header{
    padding-top: 66px;
    padding-bottom: 48px;
    padding-left: 27px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .header_description{
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 24px
  }

  .header_description p {
    font-size: 20px;
  }
}

@media (max-width:801px)  {
  .large_size--media{
    width: 370px;
    padding: 0px 0px;
  }
 
  .articles_and_videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .options_articles_videos_grid{
    grid-gap: 0rem;
  }

  .articles_videos_grid_column{
    padding: 15px 10px
  }

  .articles_videos_grid_column:first-child{
    margin-bottom: 49px;
  }

  .articles_and_videos_container_header{
    justify-content: center;
    margin-bottom: 51px;
  }

  .articles_and_videos_container_header h2 {
    font-size: 28px;
    margin-bottom: 0px;
    text-align: center;
  }

  .articles_and_videos .header{ 
    padding-left: 21px;
    padding-right: 21px; 
  }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px)  {

  .large_size--media{
    width: 315px;
    height: 176px;
    padding: 0px 0px;
  }
}
